
.container {
    display: flex;
    justify-content: space-between;
}

.container_right{
    display: flex;
}
.container_left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nomen{
    background-color:rgba(168, 87, 87, 1);
    color: white;
    padding: 5px;
}
.btn {
    background-color: rgba(168, 87, 87, 1);
}

.text {
    font-size: 32px;
    font-weight: 600;
}